<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Survey Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/Index.css">
	</head>
    <body>
        <div class="container">
            <div class="displayInfo">
                <h3>Info Submitted by User:</h3>
                <p><span>Name:</span>  @ViewBag.name</p>
                <p><span>Dojo Location:</span>  @ViewBag.dojo</p>
                <p><span>Favorite Language:</span>  @ViewBag.language</p>
                <p><span>Comment:</span>  @ViewBag.comment</p>
                <a href="/">Return to Form!!!</a>
            </div>
            
        </div>

        
    </body>
</html>